<h2>Latest posts:</h2>


		<!-- выводим результаты последних постов используя
		Руби-код <% %> -->
<% @results.each do |post| %>
	<p>
		<%= post['content']  %>
		<br>
		Added at: <%= post['created_date']  %>
		<hr>
		<hr>
			<!-- делаем возможность оставлять комментарий к посту -->
		<a href="/post/<%= post['id']  %>">Comments</a>
	</p>
<% end %>